.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note{
    font-size: 15px;
    color: black;
}

body{
    background-size: cover;
}

.div_speed{
    float: right;
}

.div_speed_image{
    width: 200px;
    border-radius: 100px;
}

#speed{
    font-size: 23px;
    margin: 15px;
}

.div_volume{
    float: right;
}

.div_volume_image{
    width: 200px;
    border-radius: 100px;
}

#volume{
    font-size: 23px;
    margin: 15px;
}


canvas{
    position:fixed;
    left: 5000px;
    top: 30px;
    right: 500px;
    bottom: 39px;
    border-radius: 20px;
}